@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
<<<<<<< HEAD
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
  
    rgb(var(--background-start-rgb));
=======
 
>>>>>>> 2e1e9d86843b0de556b5c9c581e45c1177e33c74
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
